libcryptopp.a filter=lfs diff=lfs merge=lfs -text

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.hpp text
*.java text
*.xml text
*.txt text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.a binary
*.docx binary
*.xlsx binary
*.jar binary
*.pdf binary
